span#todo-count
  if active > 1
    - items_str = 'items'
  else
    - items_str = 'item'
  strong= active
  |  #{items_str} left

ul#filters
  li
    a(href="#/", class= filter == "all" ? "selected" : "") All
  li
    a(href="#/active", class= filter == "active" ? "selected" : "") Active
  li
    a(href="#/completed", class= filter == "completed" ? "selected" : "") Completed

if completed > 0
  button#clear-completed Clear completed (#{completed})
